html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

html, body {
    padding: 0;
    margin: 0;
}

/*----- Header -----*/

#header {
    position:fixed;
    font-family: "Bitter", sans-serif;
    font-size: 1em;
    font-weight: 400;
    top: 0;
    z-index:1;
    height:48px;
    width:100%;
    color:white;
    background-color: #2A8DCB;
    box-shadow:0 0 2px 0 rgba(0,0,0,0.4);
}

.header-items {
    width: 90%;
    float: left;
    margin-left: 5%;
}

.header-title, .header-link {
    float: left;
    display: block;
    color: white;
    height: 32px;
    line-height: 48px;
    margin-left: 0.8em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-shadow:0px 1px rgba(0,0,0,0.2);
    text-decoration: none;
}

.header-link:hover {
    opacity: 0.7;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

.header-link:active {
    opacity: 0.7;
}

.header-emblem {
    float: right;
    display: inline-block;
    opacity:1.0;
    height: 32px;
    margin: 0.7em 1em auto 1em;
}

.header-emblem:hover {
    opacity: 0.7;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

.logo {
    float: left;
    display: inline-block;
    margin-top:8px;
    margin-left: 0.5em;
    height:32px;
}

/*------ Page -----*/

.page {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    padding-top: 64px;
    background: #f3f3f3;
    width: 100%;
    display: none;
}

.page.active {
    display: block;
    transition:ease-in 200ms;
}

.page-content {
    position: absolute;
    margin: auto 5%;
    width: 90%;
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    background-color: transparent;
    color: #555;
    text-shadow:0px 1px rgba(255,255,255,0.6);
}

.secret-key {
    font-size: 3em;
    font-weight: 400;
    padding: 0;
    line-height: 1em;
}

.recieve-title {
    font-family: "Bitter", sans-serif;
    text-shadow:0px 1px rgba(255,255,255,0.6);
    font-weight: 400;
    padding-top: 48px;
}

.key {
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    width: 40%;
    display: block;
    background-color: #fff;
    margin-top: 64px;
    padding: 0.25em;
    border-radius: 4px;
    box-shadow:inset 0 4px 0 0 rgba(0,0,0,0.2);
}

#wait_for_transmission button, #front button {
    position: absolute;
    margin: auto 5%;
    width: 90%;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,0.2);
    outline: none;
    border: none;
    padding-bottom: 4px;
}

#wait_for_transmission button:active, #front button:active {
    box-shadow:inset 0 4px 0 0 rgba(0,0,0,0.2);
    padding-top: 4px;
}

.button-text {
    display: block;
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    font-size:1.5em;
    line-height:2em;
    font-weight:400;
    text-align:center;
    text-decoration:none;
    text-shadow:0px 1px rgba(0, 0, 0, 0.3);
    color:white;
}

.button-icon-fill {
    fill:#fff; 
}

.button-icon-shadow {
    fill:#000;
    opacity:0.2; 
}

.custom-file-input {
    color: transparent;
    outline: none;
    border:none;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    margin: auto 5%;
    width: 90%;
    padding-top: 15%;
    padding-bottom: 15.2%;
    content: 'Take or Choose a Photo';
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align:center;
    text-decoration:none;
    text-shadow:0px 1px rgba(0, 0, 0, 0.3);
    color:white;
    display: inline-block;
    background: #E63D4E;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,0.2);
    outline: none;
    border: none;
    position: absolute;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

.custom-file-input:active::before {
    box-shadow:inset 0 4px 0 0 rgba(0,0,0,0.2);
    padding-top: 15.2%;
    padding-bottom: 15%;
}

#recieve {
    height: 50%;
    background: #F58735;
}

#download {
    height: 30%;
    background: #0F9D58;
}

#send {
    top: 65%;
    height: 30%;
    background: #E63D4E;
}

/*--- Keypad Buttons ---*/

.buttons button {
    position: absolute;
    width: 22%;
    height: 11%;
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius:0.125em;
    -moz-border-radius:0.125em;
    border-radius:0.125em;
    box-shadow:inset 0 -0.125em 0 0 rgba(0,0,0,0.2);
    outline: none;
    border: none;
    padding-bottom: 0.125em;
    background-color: #777;
    color:white;
}

.buttons h2, .buttons h3 {
    position: absolute;
    text-align: center;
    left: 2%;
    right: 2%;
}

.buttons h2 {
    top: 2%;
}
.buttons h3 {
    top: 18%;
}

.buttons button:nth-of-type(-n+20) { top: 87%; }
.buttons button:nth-of-type(-n+16) { top: 74%; }
.buttons button:nth-of-type(-n+12) { top: 61%; }
.buttons button:nth-of-type(-n+8) { top: 48%; }
.buttons button:nth-of-type(-n+4) { top: 35%; }

.buttons button:nth-of-type(4n+1)   { left:  2%; }
.buttons button:nth-of-type(4n+2) { left: 26%; }
.buttons button:nth-of-type(4n+3) { left: 50%; }
.buttons button:nth-of-type(4n) { left: 74%; }

/*----- Recieved Image -----*/

.recieved-image {
    margin: auto 5%;
    width: 90%;
    border-radius: 0.5em;
}

/*----- Modal Dialog -----*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity:1;
    pointer-events: auto;
}

.modal > div {
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    width: 70%;
    position: relative;
    font-size: 1em;
    line-height: 1.6em;
    margin: 15% auto;
    padding:1em 2em;
    border-radius: 0.5em;
    color: #555;
    background: #fff;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
}

.modal > div a {
    color: #2A8DCB;
    text-decoration: none;
    outline: none;
    border:none;
}

.modal > div a:hover {
    opacity: 0.7;
}

.close, a .close {
    position: absolute;
    float: right;
    top:-12px;
    left:-12px;
    height: 24px;
    width: 24px;
    text-decoration: none;
    outline: none;
    border:none;
}

.close-icon-fill {
    fill:#fff; 
}

.close-icon-back {
    fill:#000;
    opacity:0.8; 
}

/*--------MEDIA QUERIES--------*/

@media  only screen and (orientation:landscape) {

    #download {
        top: 10%;
        height: 30%;
        background: #0F9D58;
    }

    #send {
        top: 75%;
        height: 30%;
        background: #E63D4E;
    }

}


/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    * {
        background:transparent !important;
        color:#000 !important; /* Black prints faster:h5bp.com/s */
        box-shadow:none !important;
        text-shadow:none !important;
    }

    a,
    a:visited {
        text-decoration:underline;
    }

    a[href]:after {
        content:" (" attr(href) ")";
    }

    abbr[title]:after {
        content:" (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content:"";
    }

    pre,
    blockquote {
        page-break-inside:avoid;
    }

    thead {
        display:table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside:avoid;
    }

    img {
        max-width:100% !important;
    }

    @page {
        margin:0.5cm;
    }

    p,
    h2,
    h3 {
        orphans:3;
        widows:3;
    }

    h2,
    h3 {
        page-break-after:avoid;
    }
}
